rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }
    
    function isAdmin() {
      return isAuthenticated() && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    match /users/{userId} {
      allow read, create: if isAuthenticated();
      allow update, delete: if isOwner(userId) || isAdmin();
    }
    
    match /appUpgrades/{id} {
      allow read;
    }
    
    match /admins/{userId} {
      allow read: if isAuthenticated();
      allow write: if false;
    }
  }
}
