rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
    match /b/{bucket}/o {

        function isAuthenticated() {
            return request.auth != null;
        }

        function isAuthor(userId) {
            return isAuthenticated() && request.auth.uid == userId;
        }

        match /users/{userId}/{allPaths=**} {
            allow read: if isAuthenticated();
            allow write: if isAuthor(userId);
        }
    }
}
