<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBm8ZvUe3hRpWhQq2eJ8BxPDIi1JPm8M3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>711056123344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.pro.fluttername</string>
	<key>PROJECT_ID</key>
	<string>tttttt-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>tttttt-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711056123344:ios:29b08c207ca650337dc5d5</string>
</dict>
</plist>